.qualificationTitle {
    display: inline;
    font-size: 17px;
    padding-left: 0px;
}

.qualificationRadio {
    font-size: 16px;
    padding-left: 10px;
    margin-top: 8px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border: black solid;
    border-radius: 5px;
}

.qualificationRadio::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.qualificationRadio::-webkit-scrollbar-track {
    border: 1px solid black;
    border-radius: 20px;
}
.qualificationRadio::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 20px;
}
.qualificationRadio::-webkit-scrollbar-thumb:hover {
    background: #007bff;
}

.qualificationInputText {
    font-size: 16px;
    padding-left: 10px;
    margin-top: 10px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border: black solid;
    border-radius: 5px;
}

.qualificationInputText::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.qualificationInputText::-webkit-scrollbar-track {
    border: 1px solid black;
    border-radius: 20px;
}
.qualificationInputText::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 20px;
}
.qualificationInputText::-webkit-scrollbar-thumb:hover {
    background: #007bff;
}
