.assuranceDeliveryTitle {
    display: inline;
    font-size: 17px;
    padding-left: 0px;
}

.assuranceDelivery {
    font-size: 16px;
    padding-left: 10px;
    margin-top: 8px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border: black solid;
    border-radius: 5px;
}

.assuranceDelivery::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.assuranceDelivery::-webkit-scrollbar-track {
    border: 1px solid black;
    border-radius: 20px;
}
.assuranceDelivery::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 20px;
}
.assuranceDelivery::-webkit-scrollbar-thumb:hover {
    background: #007bff;
}

.assuranceDeliveryInputText {
    font-size: 16px;
    padding-left: 10px;
    margin-top: 10px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border: black solid;
    border-radius: 5px;
}

.assuranceDeliveryInputText::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.assuranceDeliveryInputText::-webkit-scrollbar-track {
    border: 1px solid black;
    border-radius: 20px;
}
.assuranceDeliveryInputText::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 20px;
}
.assuranceDeliveryInputText::-webkit-scrollbar-thumb:hover {
    background: #007bff;
}

.hookExampleTitle {
    display: inline;
    font-size: 17px;
    padding-left: 0px;
}

.hook {
    font-size: 16px;
    padding-left: 10px;
    margin-top: 8px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border: black solid;
    border-radius: 5px;
}

.hook::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.hook::-webkit-scrollbar-track {
    border: 1px solid black;
    border-radius: 20px;
}
.hook::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 20px;
}
.hook::-webkit-scrollbar-thumb:hover {
    background: #007bff;
}

.hookExampleInputText {
    font-size: 16px;
    padding-left: 10px;
    margin-top: 10px;
    height: 135px;
    overflow-x: hidden;
    overflow-y: auto;
    border: black solid;
    border-radius: 5px;
}

.hookExampleInputText::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.hookExampleInputText::-webkit-scrollbar-track {
    border: 1px solid black;
    border-radius: 20px;
}
.hookExampleInputText::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 20px;
}
.hookExampleInputText::-webkit-scrollbar-thumb:hover {
    background: #007bff;
}